@layer components {
  .fui-field-row--is-view {
    @apply border-b border-gray-300;
  }

  .fui-field-row--is-view:last-child {
    @apply border-transparent;
  }

  .fui-field-row__label {
    @apply truncate uppercase text-xs font-medium text-gray-500 inline-block pt-2;
    letter-spacing: 0.15em;
    flex: 0 0 25%;
    min-width: 120px;
  }

  .fui-field-row__input {
    @apply truncate 
      transition-all 
      duration-200
      ease-out
      w-full
      h-10
      bg-gray-200 
      shadow-none 
      block 
      rounded 
      border-transparent 
      border
      pt-1 
      pb-1 
      pr-3 
      pl-3;
  }

  .fui-field-row__input:not(:focus):not(:disabled):hover {
    @apply bg-gray-300;
  }

  .fui-field-row__input:disabled {
    @apply cursor-not-allowed;
  }

  .fui-field-row__input:not(:focus):not(:disabled):hover::placeholder {
    @apply text-gray-800;
  }

  .fui-field-row__input:focus {
    @apply border-transparent bg-white outline-none;
    box-shadow: 0 0 0 1px theme(colors.teal.500), 0 15px 15px -7.5px var(--color-shadow);
  }

  .fui-field-row__value {
    @apply leading-6 
      flex-1
      text-sm
      text-gray-900;
  }

  .fui-field-row--is-view .fui-field-row__value {
    @apply pt-1 
    pb-1 
    pr-3 
    pl-3;
  }

  /* Error States */
  .fui-field-row--is-invalid .fui-field-row__input {
    @apply text-orange;
  }

  .fui-field-row--is-invalid .fui-field-row__input:not(:focus) {
    @apply bg-red-100;
  }

  .fui-field-row--is-invalid .fui-field-row__input:not(:focus):hover {
    @apply bg-red-200;
  }

  .fui-field-row--is-invalid .fui-field-row__input:focus {
    box-shadow: 0 0 0 1px theme(colors.orange.DEFAULT),
      0 15px 15px -7.5px var(--color-shadow);
  }
}
